[build-system]
requires = ["setuptools", "setuptools-scm[toml]"]
build-backend = "setuptools.build_meta"

[project]
name = "viscy"
description = "computer vision for image-based phenotyping of single cells"
readme = "README.md"
requires-python = ">=3.10"
license = { file = "LICENSE" }
authors = [{ name = "CZ Biohub SF", email = "compmicro@czbiohub.org" }]
dependencies = [
    "iohub==0.1.0",
    "torch>=2.1.2",
    "timm>=0.9.5",
    "tensorboard>=2.13.0",
    "lightning>=2.3.0",
    "monai>=1.3.1",
    "jsonargparse[signatures]>=4.20.1",
    "scikit-image",
    "matplotlib>=3.9.0",
    "numpy<2",
]
dynamic = ["version"]

[project.optional-dependencies]
metrics = [
    "cellpose>=3.0.1",
    "scikit-learn>=1.1.3",
    "torchmetrics[detection]>=1.3.1",
    "ptflops>=0.7",
]
visual = ["ipykernel", "graphviz", "torchview"]
dev = [
    "pytest",
    "pytest-cov",
    "hypothesis",
    "ruff",
    "black",
    "profilehooks",
    "onnxruntime",
]

[project.scripts]
viscy = "viscy.cli.cli:main"

[tool.setuptools]
packages = ["viscy"]

[tool.setuptools_scm]
write_to = "viscy/_version.py"

[tool.black]
line-length = 88

[tool.ruff]
src = ["viscy", "tests"]
lint.extend-select = ["I001"]
lint.isort.known-first-party = ["viscy"]
