[build-system]
requires = ["setuptools", "setuptools-scm[toml]"]
build-backend = "setuptools.build_meta"

[project]
name = "viscy"
description = "computer vision for image-based phenotyping of single cells"
readme = "README.md"
requires-python = ">=3.11"
license = "BSD-3-Clause"
license-files = ["LICENSE"]
authors = [{ name = "CZ Biohub SF", email = "compmicro@czbiohub.org" }]
classifiers = [
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
dependencies = [
    "iohub>=0.2.0b0",
    "torch>=2.4.1",
    "timm>=0.9.5",
    "tensorboard>=2.13.0",
    "lightning>=2.3.0",
    "monai>=1.4.0",
    "jsonargparse[signatures]>=4.20.1",
    "scikit-image",
    "matplotlib>=3.9.0",
    "numpy",
    "xarray",
    "pytorch-metric-learning>2.0.0",
]
dynamic = ["version"]

[project.optional-dependencies]
metrics = [
    "cellpose>=3.0.10",
    "scikit-learn>=1.1.3",
    "imbalanced-learn>=0.12.0",
    "torchmetrics[detection]>=1.6.3",
    "ptflops>=0.7",
    "umap-learn",
    "captum>=0.7.0",
    "phate",
]
examples = ["napari", "jupyter", "jupytext"]
visual = [
    "ipykernel",
    "graphviz",
    "torchview",
    "seaborn",
    "plotly",
    "nbformat",
    "cmap",
]
dev = [
    "viscy[metrics,examples,visual]",
    "pytest",
    "pytest-cov",
    "hypothesis",
    "ruff",
    "black",
    "profilehooks",
    "onnxruntime",
]

[project.scripts]
viscy = "viscy.cli:main"

[tool.setuptools]
packages = ["viscy"]

[tool.setuptools_scm]
write_to = "viscy/_version.py"

[tool.black]
line-length = 88

[tool.ruff]
src = ["viscy", "tests"]
lint.extend-select = ["I001"]
lint.isort.known-first-party = ["viscy"]
