[build-system]
build-backend = "setuptools.build_meta"
requires = [ "setuptools", "setuptools-scm[toml]" ]

[project]
name = "viscy"
description = "computer vision for image-based phenotyping of single cells"
readme = "README.md"
license = "BSD-3-Clause"
license-files = [ "LICENSE" ]
authors = [ { name = "CZ Biohub SF", email = "compmicro@czbiohub.org" } ]
requires-python = ">=3.11"
classifiers = [
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Programming Language :: Python :: 3.14",
]
dynamic = [ "version" ]

dependencies = [
  "anndata>=0.12.2",
  "iohub[tensorstore]>=0.3a2",
  "jsonargparse[signatures]>=4.20.1",
  "kornia",
  "lightning>=2.3",
  "matplotlib>=3.9",
  "monai>=1.4",
  "numpy",
  "pytorch-metric-learning>2",
  "scikit-image",
  "tensorboard>=2.13",
  "timm>=0.9.5",
  "torch>=2.4.1",
  # temporary pin for xarray#10851
  "xarray<=2025.9",
]
optional-dependencies.dev = [
  "hypothesis",
  "onnxruntime",
  "pre-commit",
  "pytest",
  "pytest-cov",
  "ruff",
  "viscy[examples,metrics,phate,visual]",
]
optional-dependencies.examples = [ "jupyter", "jupytext", "napari", "transformers>=4.51.3" ]
optional-dependencies.metrics = [
  "captum>=0.7",
  "cellpose>=3.0.10",
  "imbalanced-learn>=0.12",
  "mahotas",
  "ptflops>=0.7",
  "scikit-learn>=1.1.3",
  "torchmetrics[detection]>=1.6.3",
  "umap-learn",
]
optional-dependencies.phate = [
  "phate",
]
optional-dependencies.visual = [
  "cmap",
  "dash",
  "graphviz",
  "ipykernel",
  "nbformat",
  "plotly",
  "seaborn",
  "torchview",
]
scripts.viscy = "viscy.cli:main"

[tool.setuptools]
packages = [ "viscy" ]

[tool.setuptools_scm]
write_to = "viscy/_version.py"

[tool.ruff]
line-length = 88
src = [ "viscy" ]
lint.extend-select = [ "I001" ]
lint.per-file-ignores."applications/**/*.py" = [ "E402" ]
lint.per-file-ignores."examples/**/*.ipynb" = [ "E402" ]
lint.per-file-ignores."examples/**/*.py" = [ "E402", "F821" ]
lint.per-file-ignores."tests/**/*.py" = [ "E402" ]
lint.isort.known-first-party = [ "viscy" ]
