[build-system]
requires = ["setuptools", "setuptools-scm[toml]"]
build-backend = "setuptools.build_meta"

[project]
name = "viscy"
description = "computer vision for image-based phenotyping of single cells"
readme = "README.md"
# cannot build on 3.11 due to https://github.com/cheind/py-lapsolver/pull/18
requires-python = ">=3.9,!=3.11"
license = { file = "LICENSE" }
authors = [{ name = "CZ Biohub SF", email = "compmicro@czbiohub.org" }]
dependencies = [
    "iohub==0.1.0.dev4",
    "torch>=2.0.0",
    "timm>=0.9.5",
    "tensorboard>=2.13.0",
    "lightning>=2.0.1",
    "monai>=1.2.0",
    "jsonargparse[signatures]>=4.20.1",
    "scikit-image",
    "matplotlib",
    "ipykernel", # used by demo_dlmbl
    "graphviz", # used by demo_dlmbl
    "torchview", # used by demo_dlmbl
    "pathlib",
]
dynamic = ["version"]

[project.optional-dependencies]
metrics = [
    "cellpose==2.1.0",
    "lapsolver==1.1.0",
    "scikit-learn>=1.1.3",
    "scipy>=1.8.0",
    "torchmetrics[detection]>=1.0.0",
]
dev = ["pytest", "pytest-cov", "hypothesis", "profilehooks", "onnxruntime"]

[project.scripts]
viscy = "viscy.cli.cli:main"

[tool.setuptools_scm]
write_to = "viscy/_version.py"

[tool.black]
src = ["viscy"]
line-length = 88

[tool.ruff]
src = ["viscy", "tests"]
extend-select = ["I001"]

[tool.ruff.isort]
known-first-party = ["viscy"]
