output_dir: '/gpfs/CompMicro/projects/virtualstaining/kidneyslice/2019_02_15_kidney_slice/MBL_DL_image_translation/temp/tile_small_25D'
verbose: 10
input_dir: '/gpfs/CompMicro/projects/virtualstaining/kidneyslice/2019_02_15_kidney_slice/MBL_DL_image_translation/data'
channel_ids: [0, 1, 2, 3]
slice_ids: [10, 11, 12, 13, 14, 15]
pos_ids: [3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
num_workers: 1
#flat_field:
#    estimate: True
#resize:
#    scale_factor: 2
#    resize_3d: False
normalize:
    normalize_im: 'dataset'
    min_fraction: 0.25
    normalize_channels: [True, True, True, True]
uniform_struct: True
masks:
    channels: [1]
    str_elem_radius: 3
    mask_type: 'unimodal'
    mask_ext: '.png'
make_weight_map: False

tile:
    tile_size: [256, 256]
    step_size: [128, 128]
    depths: [1, 1, 5, 5]
    image_format: 'zyx'
    min_fraction: 0.25
