gradio>=5.0
spaces>=0.30
zarr>=2.16
numpy>=1.24
matplotlib>=3.7
torch>=2.1
huggingface_hub>=0.20
iohub>=0.1
cubic>=0.7.0a2
git+https://github.com/mehta-lab/VisCy.git@dynacell-models#subdirectory=packages/viscy-data
git+https://github.com/mehta-lab/VisCy.git@dynacell-models#subdirectory=packages/viscy-models
git+https://github.com/mehta-lab/VisCy.git@dynacell-models#subdirectory=packages/viscy-transforms
git+https://github.com/mehta-lab/VisCy.git@dynacell-models#subdirectory=packages/viscy-utils
git+https://github.com/mehta-lab/VisCy.git@dynacell-models#subdirectory=applications/dynacell
