# lightning.pytorch==2.0.1
seed_everything: true
trainer:
  accelerator: auto
  strategy: auto
  devices: auto
  num_nodes: 1
  precision: 32-true
  callbacks: null
  fast_dev_run: false
  max_epochs: null
  val_check_interval: null
  check_val_every_n_epoch: 1
  log_every_n_steps: null
  enable_checkpointing: null
  inference_mode: true
  use_distributed_sampler: true
  plugins: null
  sync_batchnorm: true
  default_root_dir: null
model:
  model_config: {}
  loss_function: null
  lr: 0.001
  schedule: Constant
  ckpt_path: null
  log_batches_per_epoch: 8
  log_samples_per_batch: 1
data:
  data_path: /path/to/data.hcs.ome.zarr
  source_channel: source
  target_channel:
    - target_1
    - target_2
  z_window_size: 5
  split_ratio: 0.8
  batch_size: 32
  num_workers: 16
  yx_patch_size: [256, 256]
  normalizations:
    - class_path: viscy.transforms.NormalizeSampled
      init_args:
        keys: [source]
        level: "fov_statistics"
        subtrahend: "mean"
        divisor: "std"
    - class_path: viscy.transforms.NormalizeSampled
      init_args:
        keys: [target_1]
        level: "fov_statistics"
        subtrahend: "median"
        divisor: "iqr"
  augmentations:
    - class_path: viscy.transforms.RandWeightedCropd
      init_args:
        keys: [source, target_1, target_2]
        w_key: target_1
        spatial_size: [-1, 512, 512]
        num_samples: 1
    - class_path: viscy.transforms.RandAffined
      init_args:
        keys: [source, target_1, target_2]
        prob: 0.5
        rotate_range: [3.14, 0.0, 0.0]
        shear_range: [0.0, 0.05, 0.05]
        scale_range: [0.2, 0.3, 0.3]
    - class_path: viscy.transforms.RandAdjustContrastd
      init_args:
        keys: source
        prob: 0.3
        gamma: [0.75, 1.5]
    - class_path: viscy.transforms.RandScaleIntensityd
      init_args:
        keys: source
        prob: 0.5
        factors: 0.5
    - class_path: viscy.transforms.RandGaussianNoised
      init_args:
        keys: source
        prob: 0.5
        mean: 0.0
        std: 1.0
    - class_path: viscy.transforms.RandGaussianSmoothd
      init_args:
        keys: source
        prob: 0.5
        sigma_z: [0.25, 1.5]
        sigma_y: [0.25, 1.5]
        sigma_x: [0.25, 1.5]
  caching: false